<footer>
<span>
Other platforms: <a href="https://www.instructables.com/member/Andrew+Sleigh/">Instructables</a> / 
<a href="https://github.com/andrewsleigh/">GitHub</a> / 
<a href="https://instagram.com/andrewsleigh">Instagram</a>    
<br/>
My other websites:
<a href="https://wildebeestdiaries.wordpress.com">Vanlife</a> / 
<a href="https://lookingsideways.net">Looking Sideways podcast</a> /  
<a href="http://fab.academany.org/2018/labs/fablabbrighton/students/andrew-sleigh/">Fab Academy</a>
<br/>
Email: firstname.secondname @ gmail /  
<a href="https://twitter.com/andrewsleigh">Twitter</a>  

<br/>
&copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Andrew Sleigh
  </span>
</footer>
