<nav class="nav">
    
    <div class="nav-container">

    <h2 class="nav-title"><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h2>


        <ul>
        
<li><a class="page-link" href="/making">Making</a></li>
<li><a class="page-link" href="/projects">Projects</a></li>
<li><a class="page-link" href="/freelance">Freelance</a></li>
<li><a class="page-link" href="/blog">Blog</a></li>  
<li><a class="page-link" href="/feed.xml">RSS</a></li> 



       </ul>

  </div>
</nav>