---
layout: page
---

<!-- 

<h2>Files</h2>

Current version on Github: <a href="https://github.com/andrewsleigh/fab-slider">Version 1</a>

<ul>

	<li><a href="https://github.com/andrewsleigh/fab-slider/tree/master/3d-parts">3D Parts</a></li>
	<li><a href="https://github.com/andrewsleigh/fab-slider/tree/master/boards/">Circuit boards</a></li>
	<li><a href="https://github.com/andrewsleigh/fab-slider/tree/master/arduino-code">Arduino code</a></li>
	</ul>
 -->
 
 
<h2>{{- site.description | escape -}}</h2> 




<img src="assets/IMG_2701-crop-1600px.jpg" alt="v2 slider complete" />


<p>
Fab slider is a simple machine for shooting moving time-lapse videos or panning shots, that anyone can make using tools and materials in most fablabs or makerspaces. All the design files and source code are <a href="https://github.com/andrewsleigh/fab-slider">available here</a>.
</p>

<p>
It's also a tool for learning: about motors and motion control; 3D design and printing; Arduino programming; the design process, iteration and problem-solving. All my notes from the initial idea through several versions to the current machine are <a href="https://github.com/andrewsleigh/fab-slider/tree/master/docs">published as part of the project</a>.
</p>

<h3>Samples</h3> 

<div class="video-responsive">
<iframe width="800" height="450" src="https://www.youtube.com/embed/jfUBC_XnyGQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class = "highlight">

<h3>Files</h3>

<table id="icons" class="invisibleTable">

	<tr>
		<td><p><a href="https://github.com/andrewsleigh/fab-slider/tree/master/3d-parts/v1"><img src="assets/icons/3d.svg"><br/>3D Designs</a></p></td>
		<td><p><a href="https://github.com/andrewsleigh/fab-slider/tree/master/arduino-code"><img src="assets/icons/arduino.svg"><br/>Arduino Source</a></p></td>
		<td><p><a href="https://github.com/andrewsleigh/fab-slider/tree/master/boards/driver-arduino-shield"><img src="assets/icons/pcb.svg"><br/>PCB Designs</a></p></td>
		<td><p><a href="https://github.com/andrewsleigh/fab-slider/tree/master/images"><img src="assets/icons/camera.svg"><br/>Photos</a></p></td>
	</tr>

</table>

</div>


<h2>Learning Journal</h2>

<p>
Mostly, this project is about learning. The machine is an excuse, not the end goal. So I've kept pretty exhaustive documentation of all the stages I've been through, mistakes, and all the confusing stuff I've had to figure out. 
</p>

<p>
My goal is to be more systematic in my design process, and to share some of the viewpoint of a beginner, as guides written by experts often assume understanding that beginners don't have.
</p>


<table class="invisibleTable">
<!-- 
	<thead>
	<tr>
		<th><h3>Version 1</h3></th>
		<th><h3>Files</h3></th>
	</tr>
	</thead>
 -->
	<tbody>
	<!-- 

		<tr><td colspan="2"><img src="assets/IMG_2026.jpg" alt="v1 slider complete" />
		</td></tr>
	
	
	
 -->
	
	<tr><td colspan="2"><h3>v.1 Getting started</h3></td></tr>
	
	<tr>

		<td>

		<ol>
		{% assign sortedJournal = site.posts | where:"sort_tag","v1_getting_started" | sort: 'sort_id' %}
  {% for item in sortedJournal %}
<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
<!-- <p>{{ item.excerpt }}</p> -->
{% endfor %}
</ol>
		</td>
		<td>
		
<!-- 
<p>
Everything is in the GitHub repo: <br/>
<a href="https://github.com/andrewsleigh/fab-slider">andrewsleigh/fab-slider</a>
</p>
 -->

		</td>
	</tr>
<tr>
	<td colspan="2">	<h3>v.1 Design</h3></td>
</tr>
	<tr>
	
		<td>
	
		<ol>{% assign sortedJournal = site.posts | where:"sort_tag","v1_design" | sort: 'sort_id' %}
  {% for item in sortedJournal %}
<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
<!-- <p>{{ item.excerpt }}</p> -->
{% endfor %}
</ol>
		</td>
		<td>
		
	<p>
	All the 3D parts:<br/>
		<a href="https://github.com/andrewsleigh/fab-slider/tree/master/3d-parts/v1">3d-parts/v1</a>
</p>
		
		
<p>
		Board design and docs for my A4988 stepper driver Arduino shield:</br/>
		<a href="https://github.com/andrewsleigh/fab-slider/tree/master/boards/driver-arduino-shield/v1">boards/driver-arduino-shield/v1/</a>
		
</p>

		
		
		</td>
	</tr>
<tr>			<td colspan="2"><h3>v.1 Building the machine</h3></td></tr>
	<tr>

		<td>
		
		<ol>
				{% assign sortedJournal = site.posts | where:"sort_tag","v1_making" | sort: 'sort_id' %}
  {% for item in sortedJournal %}
<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
<!-- <p>{{ item.excerpt }}</p> -->
{% endfor %}</ol>
</td>
		<td></td>
	</tr>
<tr>		<td colspan="2"><h3>v.1 Software and machine control</h3></td></tr>
	<tr>

		<td>
		
		<ol>
				{% assign sortedJournal = site.posts | where:"sort_tag","v1_code" | sort: 'sort_id' %}
  {% for item in sortedJournal %}
<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
<!-- <p>{{ item.excerpt }}</p> -->
{% endfor %}</ol></td>
		<td>

<p>
The Arduino code for this version is at:
<br/><a href="https://github.com/andrewsleigh/fab-slider/tree/master/arduino-code/v1">arduino-code/v1/</a>
</p>
		
<p>
Also some code for an older, more complex state machine:<br/>
<a href="https://github.com/andrewsleigh/fab-slider/tree/master/arduino-code/old-complex-state-machine">arduino-code/old-complex-state-machine/</a>
</p>
		
		</td>
	</tr>
	
	
	
<tr>		<td colspan="2"><h3>v.1 Review</h3></td></tr>
	<tr>

		<td>
		
		<ol>
				{% assign sortedJournal = site.posts | where:"sort_tag","v1_review" | sort: 'sort_id' %}
  {% for item in sortedJournal %}
<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
<!-- <p>{{ item.excerpt }}</p> -->
{% endfor %}</ol></td>
		<td>


		
		</td>
	</tr>
	
		
	
<tr>		<td colspan="2"><h3>v.2 Design and build</h3></td></tr>
	<tr>

		<td>
		
		<ol>
				{% assign sortedJournal = site.posts | where:"sort_tag","v2_design" | sort: 'sort_id' %}
  {% for item in sortedJournal %}
<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
<!-- <p>{{ item.excerpt }}</p> -->
{% endfor %}</ol></td>
		<td>
<p>Eagle board designs for the v.2 and v.3 shields: 
<a href="https://github.com/andrewsleigh/fab-slider/tree/master/boards/driver-arduino-shield/v2">/boards/driver-arduino-shield/v2</a><br/>
<a href="https://github.com/andrewsleigh/fab-slider/tree/master/boards/driver-arduino-shield/v3">/boards/driver-arduino-shield/v3</a>
</p>


<p>
Electronics housing:
<a href="https://github.com/andrewsleigh/fab-slider/tree/master/3d-parts/v1/electronics-face-plate">/3d-parts/v1/electronics-face-plate</a>
</p>

<p>
Arduino code:
<a href="https://github.com/andrewsleigh/fab-slider/tree/master/arduino-code/v2">/arduino-code/v2</a>
</p>
		
		</td>
	</tr>

		
	
<tr>		<td colspan="2"><h3>v.2 Result</h3></td></tr>
	<tr>

		<td>
		
		<ol>
				{% assign sortedJournal = site.posts | where:"sort_tag","v2_result" | sort: 'sort_id' %}
  {% for item in sortedJournal %}
<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
<!-- <p>{{ item.excerpt }}</p> -->
{% endfor %}</ol></td>
		<td>
<p>
</p>

		
		</td>
	</tr>
	
	
	</tbody>
</table>


